body{
  background-color:#f2f2f2;
}

#codeman{
  position:absolute;
  width:4em;
  right:-1.5em;
  top:0.5em;
}

#toolkit
{
  float:left;
  width:15%;
  height:100%;
  background-color:#dfdfdf;
}
#canvas
{
  float:left;
  width:70%;
  height:100%;
}

#codewindow
{
  font-size:0.8em;
  float:left;
  width:14.5%;
  height:100%;
  background-color:#3d3d3d;
  color:#02E880;
  text-align:left;
  font-family:courier;
  padding-left:0.5%;
  padding-top:0.5em;
}