body{
  background-color:#f2f2f2;
}

#codeman{
  position:absolute;
  width:4em;
  right:-1.5em;
  top:0.5em;
}

#toolkit
{
  float:left;
  width:15%;
  height:100%;
  background-color:#dfdfdf;
}
#canvas
{
  float:left;
  width:70%;
  height:100%;
}

#codewindow
{
  font-size:0.6em;
  float:left;
  width:14.5%;
  height:100%;
  background-color:#3d3d3d;
  color:#02E880;
  text-align:left;
  font-family:courier;
  padding-left:0.5%;
  padding-top:0.5em;
}
.txt_coder_interaction
{
  background-color:transparent;
  border:0px transparent;
  color:#02E880;
  font-family:courier;
  font-size:1em;
  border-bottom:1px #02E880;
  width:100%;
  height:2em;
}
#toolkit button
{
  width:40%;
  height:10%;
  margin-left:5%;
  margin-top:1em;
  background-color:#dfdfdf;
  border:2px #999999 Solid;
  border-radius:10px;
  cursor: pointer;

}
#toolkit button:hover
{
  background-color:#f0f0f0;
  border:2px #d0d0d0 Solid;
}
#toolkit button:active
{
  border:2px #999999 Solid; 
}

#toolkit .selectedMenu
{
  background-color:#f0f0f0;
  border:2px #999999 Solid;  
}
#toolkit .selectedMenu:hover
{
  border:2px ##d0d0d0 Solid;
}
#toolkit .selectedMenu:active
{
  border:2px #999999 Solid;
}

.dom_obj
{
  height:20px;
  width:20px;
  border:1px #000 solid;
  background-color: orange;
}